.container {
  position: relative;
  padding: 0 1em;
}
.panel {
  position: relative;
  padding: 1em;
  display: flex;
  align-items: center;
}
.button {
  border: 0;
  border-radius: 5px;
  padding: 1em 2em;
  background-color: #999;
  color: #333;
}
.disabled {
  border: 0;
  border-radius: 5px;
  padding: 1em 2em;
  background-color: #555;
  color: #333;
}
.count {
  margin-left: 1em;
  font-size: 1.2em;
}